<!DOCTYPE html>
<html>
<link href="/css/cloverleaf.css" rel="stylesheet">
<%= ERB.new(File.read("views/navbar.erb"), 0, "-").result(binding) %>
<script src="/js/cloverleaf.js"></script>

 	<head>
    	<title>Cloverleaf Dashboard</title>
 	</head>

	<div class="row">
		<div class="span12">
			<div class="btn-lights">
				<table class="table table-striped dashboard">
					<thead>
						<tr>
							<th><h4>On</h4></th>
							<th><h4>Off</h4></th>
							<th><h4>Dim <span class="label label-info">broken</span></h4></th>
							<th><h4>Status <span class="label label-info">broken</span></h4></th>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<% @devices.each do |device| %>
								<td><button class="span3 btn btn-success btn-large" data-switch-uri="/api/do/<%= ::Temple::Utils.escape_html((device.device_id)) %>/1/"> <%= ::Temple::Utils.escape_html((device.device_desc)) %></button></td>
								<td><button class="span3 btn btn-danger btn-large" data-switch-uri="/api/do/<%= ::Temple::Utils.escape_html((device.device_id)) %>/0/"> <%= ::Temple::Utils.escape_html((device.device_desc)) %></button></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn span3 btn-warning btn-large dropdown-toggle" data-toggle="dropdown">Dim <span class="caret"></span></button> <ul class="dropdown-menu pull-right" role="menu" >
										<li><a id="dimLight" href="#">25%</a></li>
										<li><a href="#">50%</a></li>
										<li><a href="#">75%</a></li>
										<li><a href="#">100%</a></li>
									</div>
								</td>
								<td>
									<button class="btn btn-large btn-inverse disabled">Off</button>
								</td>
						</tr>
						<% end %>
					</tbody>
	  </div>
	</div>
  </div>
</html>
