<!DOCTYPE html>
<html>
  <head>
    <title>Cloverleaf Dashboard</title>
    <!-- Bootstrap -->
	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/css/cloverleaf.css" rel="stylesheet">
<%= ERB.new(File.read("views/navbar.erb"), 0, "-").result(binding) %>
<%= ERB.new(File.read("views/settings_nav.erb"), 0, "-").result(binding) %>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    	<h2>Devices</h2>
    		<table class="table table-striped table-bordered dashboard">

<thead>
	<tr>
		<th><h4>ID</h4></th>
		<th><h4>Description</h4></th>
		<th><h4>Address</h4></th>
		<th><h4>Type</h4></th>
		<th><h4>Router</h4></th>
	</tr>
</thead>

<tbody>
	<ul class="devices"> <% @devices.each do |device| %>
		<tr>
			<td>
				<%= ::Temple::Utils.escape_html((device.device_id)) %>
			</td>
			<td>
				<%= ::Temple::Utils.escape_html((device.device_desc)) %>
			</td>
			<td>
				<%= ::Temple::Utils.escape_html((device.device_address)) %>
			</td>
			<td>
				<%= ::Temple::Utils.escape_html((device.device_type)) %>
			</td>
			<td>
				<%= ::Temple::Utils.escape_html((device.device_routerid)) %>
			</td>
		<% end %>
	</ul>
</tbody>