<!DOCTYPE html>
<html>
<link href="/css/cloverleaf.css" rel="stylesheet">
<%= ERB.new(File.read("views/navbar.erb"), 0, "-").result(binding) %>
<%= ERB.new(File.read("views/settings_nav.erb"), 0, "-").result(binding) %>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="/js/cloverleaf.js"></script>
  <head>
    <title>Cloverleaf Dashboard</title>
  </head>
    	<h2>Routers</h2>
    		<table class="table table-striped table-bordered dashboard" id="edit">

<thead>
	<tr>
		<th><h4>ID</h4></th>
		<th><h4>Description</h4></th>
		<th><h4>Address</h4></th>
		<th><h4>Protocol</h4></th>
		<th><h4>Port</h4></th>
		<th><h4>Type</h4></th>
	</tr>
</thead>

<tbody>
	<ul class="routers"> <% @routers.each do |router| %>
		<tr>
			<td>
				<%= ::Temple::Utils.escape_html((router.router_id)) %>
			</td>
			<td>
				<a href="#" class="editable" id="router" data-type="text" data-pk="<%= router.router_id %>" data-url="/api/settings/update/router/" data-title="description">
				<%= ::Temple::Utils.escape_html((router.router_desc)) %>
				</a>
			</td>
			<td>
				<%= ::Temple::Utils.escape_html((router.router_address)) %>
			</td>
			<td>
				<%= ::Temple::Utils.escape_html((router.router_protocol)) %>
			</td>
			<td>
				<%= ::Temple::Utils.escape_html((router.router_port)) %>
			</td>
			<td>
				<%= ::Temple::Utils.escape_html((router.router_type)) %>
			</td>
		<% end %>
	</ul>
</tbody>