<!DOCTYPE html>
<html>
<link href="/css/cloverleaf.css" rel="stylesheet">
<%= ERB.new(File.read("views/navbar.erb"), 0, "-").result(binding) %>
<%= ERB.new(File.read("views/settings_nav.erb"), 0, "-").result(binding) %>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="/js/cloverleaf.js"></script>
  <head>
    <title>Cloverleaf Dashboard</title>
  </head>
    	<h2>Keys</h2>
    		<form class="keys" role="form-inline" method="post">
    			<div class="form-horizontal">
					<input type="text" name="key" placeholder="key">
					<input type="text" name="value" placeholder="value">
					<button type="submit" class="btn btn-success btn-lg"><i class="icon-plus-sign icon-white"></i> Add</button>
  				</div>
  			</form>

<table class="table table-striped table-bordered table-condensed dashboard">
<thead>
	<tr>
		<th><h4>ID</h4></th>
		<th><h4>Key</h4></th>
		<th><h4>Value</h4></th>
		<th><h4>Delete</h4></th>
	</tr>
</thead>
<% @keys.each do |key| %>
<tr>
	<td>
		<%= ::Temple::Utils.escape_html((key.key_id)) %>
	</td>
	<td>
		<a href="#" id="key" data-type="text" data-pk="<%= key.key_id %>" data-url="/api/settings/update/key/" data-title="enter key">
		<%= ::Temple::Utils.escape_html((key.key)) %>
		</a>
	</td>
	<td>
		<a href="#" id="value" data-type="text" data-pk="<%= key.key_id %>" data-url="/api/settings/update/key/" data-title="enter value">
		<%= ::Temple::Utils.escape_html((key.value)) %>
		</a>
	</td>
	<td>
		<a href="/api/settings/delete/key/<%= key.key_id %>" class="dashboard btn btn-danger">
		<i class="icon-white icon-minus-sign"></i> Delete</a>
	</td>
	</tr>	
<% end %>	
</table>

</html>