<!DOCTYPE html>
<html>
<link href="/css/cloverleaf.css" rel="stylesheet">
<%= ERB.new(File.read("views/navbar.erb"), 0, "-").result(binding) %>
<%= ERB.new(File.read("views/settings_nav.erb"), 0, "-").result(binding) %>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
  <head>
    <title>Cloverleaf Dashboard</title>
  </head>
    	<h2>Keys</h2>
    		<form class="keys" role="form-inline" method="post">
    		<table class="table table-striped table-bordered dashboard">

		<div class="form-group">
			<input type="text" class="form-control" name="key" placeholder="key">
			<input type="text" class="form-control" name="value" placeholder="value">
			<button type="submit" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Add</button>
  		</div>
	</form>
<thead>
	<tr>
		<th><h4>ID</h4></th>
		<th><h4>Key</h4></th>
		<th><h4>Value</h4></th>
		<th><h4>Delete</h4></th>
	</tr>
</thead>

<tbody>
	<ul class="keys"> <% @keys.each do |key| %>
		<tr>
			<td>
				<%= (key.key_id) %>
			</td>
			<td>
				<a href="#" id="key" data-type="text" data-pk="<%= key.key_id %>" data-url="/api/settings/update/key/" data-title="enter key">
				<%= (key.key) %>
				</a>
			</td>
			<td>
				<a href="#" id="value" data-type="text" data-pk="<%= key.key_id %>" data-url="/api/settings/update/key/" data-title="enter value">
				<%= ::Temple::Utils.escape_html((key.value)) %>
				</a>
			</td>
			<td> <%= (key.key_id) %> </td>
		<% end %>
	</ul>

</tbody>
</tr>
</ul>
</tbody>
</table>
</table>
</script>
</script>
</body>
<script src="/js/cloverleaf.js"></script>
</html>